/* line 17, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ^^^^^^^^^^^^^^^^^[ LAYOUT Styles ]^^^^^^^^^^^^^^^^^ */
/* line 4, ../sass/components/_layout.scss */
#container, #footer {
  max-width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after, #footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 6, ../sass/components/_layout.scss */
nav {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
}

/* line 8, ../sass/components/_layout.scss */
#ltCol {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}

/* line 9, ../sass/components/_layout.scss */
#rtCol {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}

/* This is our awesome Object scss which will do the major heavy lifting for us.
   Hopefully it is as awesome as it sounds! Have fun guys! */
/* line 4, ../sass/components/_object.scss */
.sidebarBlock {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 11, ../sass/components/_object.scss */
.sidebarBlock h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cccccc;
}

/* ^^^^^^^^^^^^^^^^^[ COMMON Styles ]^^^^^^^^^^^^^^^^^ */
/* line 61, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, c:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 1, ../sass/components/_common.scss */
body {
  color: #444444;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 1, ../sass/components/_common.scss */
a, a:active, a:hover {
  text-decoration: none;
  color: #0094cc;
}

/* line 1, ../sass/components/_common.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 1, ../sass/components/_common.scss */
h1 {
  font-size: 1.875em;
  line-height: 1.6em;
}

/* line 1, ../sass/components/_common.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 1, ../sass/components/_common.scss */
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/*Here starts the mapping or assembling*/
