// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;


// ---------------------------------------------------------------------------
// Compass Configurations
 $legacy-support-for-ie6 : false;
 $legacy-support-for-ie7 : false;
 $experimental-support-for-khtml : false;


// ---------------------------------------------------------------------------
// Site Palette

$link-color:        #0094CC;
$text-color:        #444;
$bg-color:          #fff;
$quiet-color:       #ccc;
$dark-color:        #111111;
$modulebg-color:    #eee;


// Sub Palette
$border-color:       $quiet-color;

// ---------------------------------------------------------------------------
//Font Stacks

$primary-font:      Helvetica,Arial,sans-serif;
$secondar-font:     $primary-font;
$header-font:       Georgia,"Times New Roman",Times,serif;
$logo-font:         Georgia,"Times New Roman",Times,serif;

//Base Font Size - Veritical Rhythm
$base-font-size : 16px ;
$base-line-height : 24px ;