/* This is our awesome Object scss which will do the major heavy lifting for us.
   Hopefully it is as awesome as it sounds! Have fun guys! */
  
%shell {
  border: 1px solid $border-color;
  background-color: $modulebg-color;
  padding:10px;
  @include border-radius(6px);
}

%header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom:1px solid $border-color;
}

%item {
  border-bottom : 10px;
  border-top : 1px solid;
}

%galleryItem {
  border-bottom:1px solid $border-color;
}
